In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

import bamboolib as bam

In [2]:
data = pd.read_csv('df_monkeyPox.csv')

In [3]:
data

        Country        date  confirmed  acc_confirmed   latitude  longitude
0     Argentina  2022-05-01          0              0 -38.416097 -63.616672
1     Argentina  2022-05-02          0              0 -38.416097 -63.616672
2     Argentina  2022-05-03          0              0 -38.416097 -63.616672
3     Argentina  2022-05-04          0              0 -38.416097 -63.616672
4     Argentina  2022-05-05          0              0 -38.416097 -63.616672
...         ...         ...        ...            ...        ...        ...
2335      World  2022-06-17        195           2594   0.000000   0.000000
2336      World  2022-06-18          1           2595   0.000000   0.000000
2337      World  2022-06-19          1           2596   0.000000   0.000000
2338      World  2022-06-20        289           2885   0.000000   0.000000
2339      World  2022-06-21        271           3156   0.000000   0.000000

[2340 rows x 6 columns]

In [4]:
data

        Country        date  confirmed  acc_confirmed   latitude  longitude
0     Argentina  2022-05-01          0              0 -38.416097 -63.616672
1     Argentina  2022-05-02          0              0 -38.416097 -63.616672
2     Argentina  2022-05-03          0              0 -38.416097 -63.616672
3     Argentina  2022-05-04          0              0 -38.416097 -63.616672
4     Argentina  2022-05-05          0              0 -38.416097 -63.616672
...         ...         ...        ...            ...        ...        ...
2335      World  2022-06-17        195           2594   0.000000   0.000000
2336      World  2022-06-18          1           2595   0.000000   0.000000
2337      World  2022-06-19          1           2596   0.000000   0.000000
2338      World  2022-06-20        289           2885   0.000000   0.000000
2339      World  2022-06-21        271           3156   0.000000   0.000000

[2340 rows x 6 columns]

In [5]:
table = data.groupby('Country')['acc_confirmed'].max().sort_values(ascending=False).to_frame()

In [6]:
table = table.reset_index()

In [7]:
data = data.rename(columns={'confirmed': 'daily_confirmed'})
data

        Country        date  daily_confirmed  acc_confirmed   latitude  \
0     Argentina  2022-05-01                0              0 -38.416097
1     Argentina  2022-05-02                0              0 -38.416097
2     Argentina  2022-05-03                0              0 -38.416097
3     Argentina  2022-05-04                0              0 -38.416097
4     Argentina  2022-05-05                0              0 -38.416097
...         ...         ...              ...            ...        ...
2335      World  2022-06-17              195           2594   0.000000
2336      World  2022-06-18                1           2595   0.000000
2337      World  2022-06-19                1           2596   0.000000
2338      World  2022-06-20              289           2885   0.000000
2339      World  2022-06-21              271           3156   0.000000

      longitude
0    -63.616672
1    -63.616672
2    -63.616672
3    -63.616672
4    -63.616672
...         ...
2335   0.000000
2336   0.000000
2337   0.000000
2338   0.000000
2339   0.000000

[2340 rows x 6 columns]

In [8]:
new_cases_ALL = (data
 .sort_values(by = ['Country', 'date'])
 .filter(['Country','daily_confirmed', 'acc_confirmed'])
 .groupby(['Country'])
 .acc_confirmed
 .diff()
)

In [10]:
new_cases_ALL

0         NaN
1         0.0
2         0.0
3         0.0
4         0.0
        ...
2335    195.0
2336      1.0
2337      1.0
2338    289.0
2339    271.0
Name: acc_confirmed, Length: 2340, dtype: float64

In [11]:
data.daily_confirmed

0         0
1         0
2         0
3         0
4         0
       ...
2335    195
2336      1
2337      1
2338    289
2339    271
Name: daily_confirmed, Length: 2340, dtype: int64